.show-area {
  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.sign::after {
  content: '';
  position: absolute;
  height: 6px;
  width: 100%;
  bottom: 4px;
  left: 0;
  z-index: -1;
  border-radius: 3px;
  background: var(--themeDarkSignColor);
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: var(--themeDarkSvgColor);
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  text-decoration: none;
  display: inline-flex;
  line-height: 20px;
  margin-right: 20px;
}

.record {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}

.record a {
  text-decoration: none;
  display: inline-flex;
  line-height: 20px;
  margin-right: 20px;
}

.record .record_num {
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.record img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
}

.profile .fade-in {
  position: relative;
  overflow: hidden;
}

.fade-in .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.profile .avatar {
  width: 8rem;
  height: 8rem;
}